.cardHomePage {
	/* background-image: url("https://picsum.photos/500/300/?blur"); */
	background-size: cover;
	transition: 0.5s ease;
}
.cardHomePage:hover {
	transform: scale(1.1);
}
.cardBtn {
	background-color: rgb(181, 103, 254);
	color: black;
}
.card-description {
	position: relative;
	font-size: 20px;
	width: 250px;
}
.text-concat {
	position: relative;
	display: inline-block;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em;
	line-height: 1.2em;
	text-align: center;
}

.card-description.ellipsis::after {
	content: "...";
	position: absolute;
	right: -5px;
	bottom: 4px;
}
.card-wrapper {
	display: flex;
	flex: 1 1 30%;
	justify-content: center;
	align-items: center;
}
