.p-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c298d8;
    color: black;
}

.backgroundProfile {
    display: flex;
    align-items: center;
    background-color: #c298d8;
    width: 80vw;

}
hr {
    width: 80vw;
    border: 1px solid black;
}

