  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .h2 {
    color:black;
  }
  
  .cardLogin {
    display: flex;
    flex-direction: column;
    background-color: #bababa;
    border-radius: 8px;
    box-shadow: 0 4px 40px rgba(24, 24, 24, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
  }
  
  .cardLogin h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-control {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .form-control input {
  
    width: 100%;
    padding: 8px;
    border: 1px solid #646cff;
    border-radius: 25px;
    margin: 2px;
  
  }
  
  .form-control input:focus {
    margin: 5px;
    outline: none;
    border-color: #646cff;
    padding: 2px
  }
  
  .button-container {
    margin-top: 30px;
    text-align: center;
  }
  
  .privacy {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: black;
    font-size: small;
  }
  
  .textPassword {
    font-family: helvetica;
    font-size: 12px;
    color: rgb(210, 0, 0);
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  .button-container button {
    background-color:  #565efa;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: small;
  }
  
  .button-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  