.p-card{
    background-image: url("https://www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg");
    background-size: cover;
}
.cardBtn{
    background: green;
    color: white;
    height: 30px;
    width: 200px;
    border-radius: 30px;
    border-color:black ;
    text-align: center;
}