.navContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(24,24,24,255);
    padding: 15px 7%;
    transition: 0.5s;
}
.logo{
    width: 160px;
    cursor: pointer;
}
.navItemList{
    flex: 1;
    list-style-type: none;
    text-align: center;
}
.navItemList .navItem{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}
.navItemList .navItem:hover{
    color: #737373;
}
.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}
.navSearch{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
}
.navSearch input{
    padding: 6px;
    background:transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    max-width: 200px;
}
.navSearch input::placeholder{
    color: #242424;
}
.navSearch img{
    width: 20px;
    cursor: pointer;
}
.light .navContainer{
    background-color:  #5c5cfd;
    color: black;
}
.light .navSearch{
    background-color: #242424;
}
.light .navSearch input{
    color: white;
}
.light .navSearch input::placeholder{
    color: white;
}
.light .navItemList .navItem{
    color: #242424;
}
.light .navItemList .navItem:hover{
    color: #7f7eff;
}