.toggle-icon{
    width: 30px;
    cursor: pointer;
    margin-right: 20px;
}
.navSearch{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 20px;
    border-radius: 50px;
}
.navSearch input{
    padding: 6px;
    background:transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    max-width: 200px;
}
.navSearch input::placeholder{
    color: #242424;
}
.navSearch img{
    width: 20px;
    cursor: pointer;
}
.light .p-menubar{
    background-color:  #f3f3f3;
}
.light .navSearch{
    background-color: #242424;
}
.light .navSearch input{
    color: white;
}
.light .navSearch input::placeholder{
    color: white;
}
.light .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link{
    color: #242424;
}
.light .navItemList .navItem:hover{
    color: #7f7eff;
}
.light .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: black;
}
.light .p-submenu-icon{
    color: black;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text{
    color: white;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon{
    color: white;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon{
    color: white;
}
.p-menubar{
    background-color: transparent;
    border: none;
    transition: 0.5s;
}
.light svg.p-icon{
    color: black;
    border-color:black ;
}
